.games-text-container {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.games-text-small {
    font-size: clamp(10px, 2vw, 24px);
    line-height: 1;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    margin-left: 0.5vw;
}

.elementum-svg {
    width: 100%;
    height: auto;
    display: block;
    min-width: 20px;
    max-width: 45px;
}