.purple-button-container:hover {
    transform: scale(1.10);
    transition: border-color 0.1s ease, transform 0.1s ease;
    
}

.purple-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    background: black;
    color: white;
    border: 1px solid #AF50CE;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.3s ease;
    font-size: 1em;
}

.purple-button:hover {
    border-color: black;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.purple-button:hover::after,
.purple-button:hover::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    background-image: conic-gradient(from var(--angle), #AF50CE, black, #AF50CE);
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.purple-button:hover::before {
    padding: 15px;
    filter: blur(1.5em);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}