.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    z-index: 9999;
}

.kaiLoading {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-bar {
    width: 100%;
    height: 50px;
    background-color: #444;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    /* Ensures the progress bar doesn't overflow */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
    animation: end 4s linear infinite;
}

.loading-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.loading-text {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
    -webkit-text-stroke: 2px black;
    text-align: center;
}

.progress {
    height: 100%;
    background: linear-gradient(90deg, #00FFFF, #00CED1, #00FFFF);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 0px cyan;
    transition: width 0.5s ease;
    border-radius: 8px;
}


@keyframes end {

    0%,
    100% {
        box-shadow: 0 0 10px 0px cyan;
    }

    50% {
        box-shadow: 0 0 15px 5px cyan;
    }
}