.hero-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-scale-wrapper {
    width: 800px;
    transform-origin: top left;
    transition: transform 0.3s ease;
}

@media (max-width: 800px) {
    .hero-scale-wrapper {
        transform: scale(calc(100vw / 800));
    }
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.hero-section {
    position: relative;
    width: 400px;
    height: 425px;

}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 3;
    position: relative;
    transition: transform 0.3s ease;
}

.left-image,
.right-image {
    transition: transform 0.3s ease, clip-path 0.3s ease;
}

.left-image {
    clip-path: polygon(50% 0, 99.75% 0, 99.75% 99.25%, 50% 99.25%, 1% 50%);
    transform-origin: bottom right;
}

.right-image {
    clip-path: polygon(100% 0%, 100% 49%, 100% 50%, 50% 99.5%, 0.5% 99%, 0.5% 1%);
    transform-origin: bottom left;
}

.left-section:hover .left-image {
    transform: scale(1.10);
    clip-path: polygon(60% 0, 99.75% 0, 99.75% 99.25%, 55% 99.25%, 10% 54.75%);
}

.right-section:hover .right-image {
    transform: scale(1.10);
    clip-path: polygon(100% 0, 100% 49%, 95% 50%, 50% 94.75%, 0.5% 99%, 0 0);
}

.hero-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.overlay-text {
    position: absolute;
    color: white;
    top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.overlay-text.left-text {
    right: 75vw;
    width: 20vw;

    p {
        text-align: left;
    }

}

.overlay-text.left-text-mobile {
    position: relative;

    h2 {
        text-align: center;
    }

    p {
        min-width: 75%;
    }

}

.overlay-text.right-text-mobile {
    position: relative;

    h2 {
        text-align: center;
    }

    ul {
        width: 300px;
        list-style: none;
        padding-left: 0;
        transform: translateX(7vw);
    }

    li {
        position: relative;
        text-align: left;
        padding-left: 25px;
        line-height: 1.5;
    }

    li::before {
        content: '';
        position: absolute;
        left: 0;
        top: 55%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><polygon points='5,0 10,5 5,10 0,5' fill='transparent' stroke='yellow' stroke-width='1'/></svg>");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.overlay-text.right-text {
    left: 77.5vw;
}

.overlay-text.right-text ul {
    list-style: none;
    padding-left: 0;
}

.overlay-text.right-text li {
    position: relative;
    text-align: left;
    padding-left: 25px;
    line-height: 1.5;
}

.overlay-text.right-text li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 55%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><polygon points='5,0 10,5 5,10 0,5' fill='transparent' stroke='yellow' stroke-width='1'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
}

.card1-wrapper {
    position: absolute;
    bottom: 170px;
    right: 280px;
    transform: translate(0, 0);
    animation: card1-move 0.3s forwards;
    z-index: 2;
}

@keyframes card1-move {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translateY(-45px);
    }
}

.card1-float {
    animation: card1-float 3s ease-in-out 0.3s infinite;
}

@keyframes card1-float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.card1-image {
    opacity: 0;
    transform-origin: bottom right;
    transform: scale(0);
    animation: card1-appear 0.3s forwards;
}

@keyframes card1-appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(0.50);
    }
}

.card2-wrapper {
    position: absolute;
    bottom: 220px;
    left: 0px;
    transform: translate(0, 0);
    animation: card2-move 0.3s forwards;
    z-index: 2;
}

@keyframes card2-move {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translateY(-45px);
    }
}

.card2-float {
    animation: card2-float 3s ease-in-out 0.3s infinite;
}

@keyframes card2-float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.card2-image {
    opacity: 0;
    transform-origin: bottom left;
    transform: scale(0);
    animation: card2-appear 0.3s forwards;
}

@keyframes card2-appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(0.50);
    }
}

.card3-wrapper {
    position: absolute;
    bottom: 255px;
    right: 5px;
    transform: translate(0, 0);
    animation: card3-move 0.3s forwards;
    z-index: 2;
}

@keyframes card3-move {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translateY(-45px);
    }
}

.card3-float {
    animation: card3-float 3s ease-in-out 0.3s infinite;
}

@keyframes card3-float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.card3-image {
    opacity: 0;
    transform-origin: bottom right;
    transform: scale(0);
    animation: card3-appear 0.3s forwards;
}

@keyframes card3-appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(0.50);
    }
}

.aliadrone-wrapper {
    position: absolute;
    top: 245px;
    right: 195px;
    transform: translate(0, 0);
    animation: aliadrone-move 0.3s forwards;
    z-index: 1;
}

@keyframes aliadrone-move {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-45px, 45px);
    }
}

.aliadrone-float {
    animation: aliadrone-float 3s ease-in-out 0.3s infinite;
}

@keyframes aliadrone-float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.aliadrone-image {
    opacity: 0;
    transform-origin: top right;
    transform: scale(0);
    animation: aliadrone-appear 0.3s forwards;
}

@keyframes aliadrone-appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(0.33);
    }
}

.redrocket-wrapper {
    position: absolute;
    bottom: 365px;
    left: 315px;
    transform: translate(0, 0);
    animation: redrocket-move 0.3s forwards;
    z-index: 1;
}

@keyframes redrocket-move {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(45px, -45px);
    }
}

.redrocket-float {
    animation: redrocket-float 3s ease-in-out 0.3s infinite;
}

@keyframes redrocket-float {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-15px, 15px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.redrocket-video {
    opacity: 0;
    transform-origin: bottom left;
    transform: scale(0);
    animation: redrocket-appear 0.3s forwards;
}


@keyframes redrocket-appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(0.40);
    }
}

.grayrocket-wrapper {
    position: absolute;
    bottom: 355px;
    right: 215px;
    transform: translate(0, 0);
    animation: grayrocket-move 0.3s forwards;
    z-index: 20;
}

@keyframes grayrocket-move {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-45px, -45px);
    }
}

.grayrocket-float {
    animation: grayrocket-float 3s ease-in-out 0.3s infinite;
}

@keyframes grayrocket-float {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(15px, 15px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.grayrocket-video {
    opacity: 0;
    transform-origin: bottom right;
    transform: scale(0);
    animation: grayrocket-appear 0.3s forwards;
}


@keyframes grayrocket-appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(0.20);
    }
}

@media (max-width: 1500px) {

    .hero-section {
        width: 268px;
        height: 285px;
    }

    .overlay-text {
        top: 5.75%;
    }

    .overlay-text.right-text {
        left: 76vw;
    }

    .card1-wrapper {
        bottom: 95px;
        right: 200px;
    }

    @keyframes card1-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(0.33);
        }
    }

    @keyframes card1-float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-7px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .card2-wrapper {
        bottom: 125px;
        left: 0px;
    }

    @keyframes card2-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(0.33);
        }
    }

    @keyframes card2-float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-7px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .card3-wrapper {
        bottom: 160px;
        right: 5px;
    }

    @keyframes card3-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(0.33);
        }
    }

    @keyframes card3-float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-7px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .aliadrone-wrapper {
        top: 150px;
        right: 130px;
    }

    @keyframes aliadrone-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(0.20);
        }
    }

    @keyframes aliadrone-float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-7px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .redrocket-wrapper {
        bottom: 240px;
        left: 205px;
    }

    @keyframes redrocket-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(0.25);
        }
    }

    @keyframes redrocket-float {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(-10px, 10px);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    .grayrocket-wrapper {
        bottom: 230px;
        right: 140px;
    }

    @keyframes grayrocket-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(0.13);
        }
    }

    @keyframes grayrocket-float {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(10px, 10px);
        }

        100% {
            transform: translate(0, 0);
        }
    }
}

@media (max-width: 1100px) {

    h2 {
        font-size: 1.33em;
    }

    .hero-section {
        width: 200px;
        height: 213px;
    }

    .overlay-text {
        top: 5%;
    }

    .overlay-text.right-text {
        left: 74vw;
    }

    .overlay-text.left-text {
        right: 74vw;
    }

    .card1-wrapper {
        bottom: 60px;
        right: 155px;
    }

    @keyframes card1-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(0.20);
        }
    }

    @keyframes card1-float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-5px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .card2-wrapper {
        bottom: 80px;
        left: 5px;
    }

    @keyframes card2-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(0.20);
        }
    }

    @keyframes card2-float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-5px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .card3-wrapper {
        bottom: 115px;
        right: 15px;
    }

    @keyframes card3-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(0.20);
        }
    }

    @keyframes card3-float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-5px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .aliadrone-wrapper {
        top: 103px;
        right: 85px;
    }

    @keyframes aliadrone-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(0.15);
        }
    }

    @keyframes aliadrone-float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-5px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .redrocket-wrapper {
        bottom: 165px;
        left: 140px;
    }

    @keyframes redrocket-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(0.20);
        }
    }

    @keyframes redrocket-float {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(-5px, 5px);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    .grayrocket-wrapper {
        bottom: 160px;
        right: 90px;
    }

    @keyframes grayrocket-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(0.10);
        }
    }

    @keyframes grayrocket-float {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(5px, 5px);
        }

        100% {
            transform: translate(0, 0);
        }
    }
}