h2 {
    color: #AF50CE;
}

.game-button-container {
    display: inline-block;
    width: 200px;
    height: 230px;
    position: relative;
}

.svg-border {
    position: relative;
    width: 100%;
    height: 100%;
}

.border-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.game-button {
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    clip-path: polygon(50% 1%, 98.5% 25%, 98.5% 75%, 50% 98.5%, 1.5% 75%, 1.5% 25%);
    transition: transform 0.3s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.game-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    clip-path: inherit;
    z-index: -1;
    transition: transform 0.3s;
}

.game-button:hover::before {
    transform: translateY(10px);
}

.button-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.game-button:hover .button-image {
    transform: scale(1.05);
}

.game-button-text {
    margin-top: 33px;
    pointer-events: none;
}

.game-button:hover .game-button-text {
    opacity: 1;
}

.game-button-text h2,
.game-button-text p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.coming-soon-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(25%);
    transition: filter 0.3s;
}

.coming-soon-content .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.coming-soon-text {
    position: absolute;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.hexagon-border {
    height: 240px;
    position: absolute;
    top: -5px;
    left: -20px;
    z-index: 2;
    pointer-events: none;
}

.cyan-hexagon-border {
    height: 240px;
    position: absolute;
    top: -5px;
    left: -20px;
    z-index: 0;
    pointer-events: none;
    transition: transform 0.5s ease;
    transform: translateY(0);
}

.game-button-container:hover .cyan-hexagon-border {
    transform: translateY(20px);
}
