@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.App {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;

    h1 {
        color: #AF50CE;
    }

    p {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.15em;
        max-width: 75vw;
        text-align: center;
        font-weight: 300;
    }

    ul {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.15em;
        max-width: 75vw;
        text-align: center;
        font-weight: 300;
    }

}

.perspectiveBg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/PerspectiveGrid.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.space {
    padding: 20px;
}

.biggerSpace {
    padding: 40px;
}

.smallerSpace {
    padding: 5px;
}

.GamesComponent {
    padding: 20px;
}

.textContainer {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    min-width:350px;
}

.gradient-container-1 {
    position: absolute;
    width: 67vw;
    height: 67vw;
    margin: 20px 0;
    left: -35vw;
    top: 4vh;
    pointer-events: none;
}

.gradient-container-2 {
    position: absolute;
    width: 67vw;
    height: 67vw;
    margin: 20px 0;
    right: -29vw;
    top: 35vh;
    pointer-events: none;
}

.orbitron {
    font-size: 49px;
    line-height: 1;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 1300px) {
    .App {
        h1 {
            font-size: 1.33em;
        }

        p {
            font-size: 0.85em;
        }

        ul {
            font-size: 0.85em;

        }

    }

    .biggerSpace {
        padding: 30px;
    }
}

@media (max-width: 1000px) {
    .App {
        h1 {
            font-size: 1.25em;
        }

        p {
            font-size: 0.8em;
        }

        ul {
            font-size: 0.8em;

        }

    }

    .biggerSpace {
        padding: 30px;
    }

    .smallerSpace{
        padding: 3px;
    }

    .space {
        padding: 15px;
    }
    
}