.contact-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 70%;
    align-items: center;
    justify-content: space-around;

    p {
        text-align: left;
    }

}

.contact-left {
    max-width: 33%;
    min-width: 400px;
}

.contact-right {
    min-width: 741px;
    max-width: 45%;
}

@media (max-width: 1704px) {
    .contact-container {
        flex-direction: column;
        width: auto;
    }

    .contact-right {
        height: 28vw;
        width: 50%;
        min-width: 370px;
        min-height: 275px;
    }
}

h3 {
    color: cyan;
}